body {
   font-family: Arial, sans-serif;
}

.course-container {
   display: flex;
   flex-direction: column;
   /* margin-bottom: 20px; */
}

.course {
   background-color: #a52a2a; /* Using the same color as in the image */
   color: white;
   padding: 20px;
   margin-bottom: 10px; /* Adds space between courses */
   text-align: center;
   font-weight: bold;
}

.course:first-child {
   margin-bottom: 20px; /* Adds extra space after the first course */
}
