body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    /* background-image: url('/images/quiz-bg.png'); */
    background-image: url('/images/quizBg.png');
    background-size: cover;
    background-position: center;
}



/* For tablets (width between 600px and 1024px) */
@media (max-width: 1024px) and (min-width: 600px) {
    body {
        background-size: contain; /* Adjust to fit within the container */
        background-position: top center; /* Align the image differently if needed */
    }
}

/* For mobile devices (width below 600px) */
@media (max-width: 599px) {
    body {
        background-size: contain; /* Make sure the image fits within the screen */
        background-position: top center; /* Position the image as needed */
    }
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    font-weight: 900;
    font-size: x-large;
    padding: 20px 177px;
    border: none;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.option:hover {
    /* background-color: #e0e0e0; */
    background-color: #218838;
}

.option-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
}

@media (max-width: 768px) {
    .options-container {
        padding: 10px;
    }
    .option {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .options-container {
        padding: 5px;
    }
    .option {
        padding: 5px;
    }
}
/* image */


  /* register page */
  
  
  .popup-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Ensure the form doesn't stretch too wide */
    width: 100%;
  }
  
  .close-btn {
    float: right;
    cursor: pointer;
  }
  
  h2, h3 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea, button{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* input[type="text"],
  input[type="tel"], */
  select {
      width: 100%;
      padding: 13px;
      margin-bottom: 1px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  button {
    margin-top: 20px;
    background-color: #28a745;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #218838;
  }
  

.description{
  font-weight: 500;
  font-size: medium;

}

/* loading bar */

#loadingBar {
    width: 50%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width for larger screens */
    height: 20px; /* Adjust height as needed */
    background: lightgray;
    position: absolute; /* Change to absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
    z-index: 1000; /* Ensure it's on top of other elements */
    display: none; /* Initially hidden */
    border-radius: 70px;
  }
  
  #progress {
    height: 100%;
    background: green; /* Color of the progress */
    transition: width 0.5s; /* Smooth transition */
    border-radius: 70px;
  
  }
  
  @media (max-width: 600px) {
    #loadingBar {
        width: 70%; /* Wider on smaller screens */
        border-radius: 70px; /* Adjust border radius for smaller screens */
    }
  }
  